@using WebApplication.Models.DTO;
@model OrderDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => Model.Id)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Id)
    </div>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => Model.OrderDate)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.OrderDate)
    </div>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => Model.Customer)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Customer)
    </div>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => Model.ShopAssistant)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.ShopAssistant)
    </div>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => Model.Product)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Product)
    </div>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => Model.Amount)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Amount)
    </div>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => Model.Price)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Price)
    </div>

    @*<div class="display-label">
            @Html.DisplayNameFor(model => Model.CustomerName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => Model.CustomerName)
        </div>*@
    @*<div class="display-field">
            <table>
                <tr>
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        </div>*@
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
