@using WebApplication.Models.DTO;
@model CustomerDTO

@{
    ViewBag.Title = "Delete";
}
<p class="error">@ViewBag.ErrorMessage</p>

<h2>Delete</h2>

<h3>Are you sure you want to delete this record?</h3>
<fieldset>
    <legend>Customer</legend>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => Model.Id)</strong> 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Id)
    </div>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => Model.CustomerName)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.CustomerName)
    </div>

</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
