@using WebApplication.Models.DTO;
@model CustomerDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">
            <strong>@Html.DisplayNameFor(model => Model.Id)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Id)
    </div>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => Model.CustomerName)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.CustomerName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>